body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
.menubar{
    margin-left: 1%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}
.pagetitle{
    padding-right: 15vw;
    display: inline-block;
    color: blue;
}
.menuitems{
    display: inline-block;
    padding-right: 10px;
    color: #565E6CFF;
}
a{
    text-decoration: none;
}
.signinbutton{
    width: 10vw;
    height: 5vh;
    background-color:#F2F2FDFF; 
    color: #636AE8FF;
    border: none; 
    border-radius: 12px;
    font-weight: bold;
}
.greatcontainer{
    width:95vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}
.card{
    width: 22vw;
    height: auto;
    border: 1px purple solid;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.cardtext{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: justify;
}
.flowchart{
    width: 100%;
    display: block;
}
.cardbuttons{
    background-color:#636AE8FF; 
    color: white;
    border: none; 
    border-radius: 12px;
    font-weight: bold;
}
.banner{
    margin: 1%;
   display: inline-block;
   opacity: 0;
}
.bannertext{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.bannerimage{
    display: inline-block;
}
.bannerimg{
    display: inline-block;
    width: 40vw;
    height: auto;
}
.bannerbuttons{
    display: inline-block;
}
.bannerbutton{
    width: 10vw;
    height: 5vh;
    background-color:#636AE8FF; 
    color: white;
    border: none; 
    border-radius: 12px;
    font-weight: bold;
}
.mychallenges{
    margin: 1%;
}
.cardcrew{
    width: 20vw;
    height: auto;
    display: inline-block;
}
.mycrew{
    margin: 1%;
    text-align: center;
}
.crewtitle{
    text-align: start;
    color: blue;
}
.crewimage{
    width: 100%;
    height: 50%;
}
.crewparagraph{
    font-size:xx-small;
    font-style: italic;
}
h6{
    color: blue;
}
h5{
    font-weight: bold;
}
.contributebutton{
    width: 20vw;
    height: 5vh;
    background-color:#636AE8FF; 
    color: white;
    border: none; 
    border-radius: 12px;
    font-weight: bold;
}
.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signinform{
padding: 2% 10% 10% 10%;
border-radius: 6px; /* border-m */
border-width: 2px; 
border-color: #636AE8FF; /* primary-500 */
border-style: solid; 
box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F; /* shadow-xs */
}
input{
    width: 100%;
    height: 3vh;
    padding: 5% 10% 5% 10%;
    font-weight: 400; 
    background: #F8F9FAFF; /* neutral-150 */
    border-radius: 6px; /* border-m */
    border-width: 0px; 
    outline: none; 
}
.signinbutton{
    margin-top: 20%;
    width: 100%;
    height: 5vh;
    padding: 0 16px; 
    display: flex;   
    line-height: 26px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #636AE8FF; /* primary-500 */
}
.contributecontainer{
    padding: 1%;
    width:95vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}
.contributecard{
    width: 30vw;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.contributebutton2{
    width: 40%;
    height: 30px;
    background-color:#636AE8FF; 
    color: white;
    border: none; 
    border-radius: 12px;
    font-weight: bold;
}
.divbutton{
    display: flex;
    justify-content: right;
}
.subscribe{
    margin: 1%;
    text-align: center; 
}
/*This is the selector for the container subscribe.*/
.subscribe form {
/*Display flex to adapt the contents properly in the screen and
justify content space around to put the elements one next to the other with
a space between them.*/
display: flex;
justify-content: space-around;
}
/*Modifying the input inside of the form*/
.subscribe form input{
    width: 30%;
    height: 1%;
    padding: 5px 10px 5px 10px;
}
/*Editing button inside of the form*/
.subscribebutton{
    background-color:#636AE8FF; 
    color: white;
    border: none; 
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;    
}
/*The confirmation text will be centered.*/
.mailconfirmation{
    text-align: center;
}
/*The label related to the input of the number will displayed below of the other contents and will hava a margin
to separate the other elements.*/
.subscribe label{
    display: block;
    margin-bottom: 20px;
}
/*For screens lower than 600px, we will apply the following styles:*/
@media (max-width: 600px){
    /*The div that contains the flowcharts will change the global styles
    like this:*/
    .greatcontainer{
        /*The width of this container will have the 80% of the parent 
        container size.*/
        width: 80%;
        /*Display flex to adapt the contents to the screen size.*/
        display: flex;
        /*The content, instead to be one next to the other, will be 
        located one below to the other*/
        flex-direction: column;
    }
    /*The cards that are containing the flowcharts, will have the 
    width of 100% of the parent container.*/
    .card{
        width: 100%;
    }

}